.site-header {
    position: fixed;

    height: 7rem;
    width: 100%;

    background-color: rgba( $color-primary-dark-3, 1 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1200ms cubic-bezier(.36, .76, .72, 1.00);
    z-index: 10;

    &.fade-in {
        opacity: 1;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        font-size: 3rem;
        font-weight: 400;
        list-style: none;
        margin-right: 2rem;
    }

    a {
        color: $color-white;

        &.site-header__logo {
            color: #fff;
        }
    }

    &__logo {
        margin: 0 2%;
        height: 80%;
        width: 15rem;
        background-position: center;
        background-size: cover;
        line-height: 5.6rem; // The element is 80% of the height of the .site-header, which is 7 rem.  7 * .8 = 5.6
        font-size: 5.6rem;
        font-family: $font-family-title;
    }
}